* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  margin: 20px 0 10px;
}

h2 {
  margin: 20px 0 10px;
}

h3 {
  margin: 20px 0 10px;
}

.inner {
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.col {
  width: calc(50% - 20px);
}

code {
  width: 100%;
  display: block;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 15px;
}

table {
  border-collapse: collapse;
  margin: 10px 0;
  width: 100%;
}

th,
td {
  border: 1px solid lightgray;
  text-align: left;
  padding: 10px 15px;
}

input,
select {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 15px;
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
}

label span {
  margin: 0 0 10px 0;
  font-weight: bold;
}

label+label {
  margin: 0 0 0 10px;
}

.input__container {
  width: 100%;
  margin: 0 0 20px 0;
  display: flex;
}

.button {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: none;
}

.button:hover {
  filter: brightness(1.1);
}

.button.button--primary {
  border: 1px solid #2C75F6;
  background-color: #2C75F6;
  color: #FFFFFF;
}

.button+.button {
  margin-left: 10px;
}

@media screen and (max-width: 960px) {
  body {
    margin: 0 0 50px 0;
  }
  .col {
    width: 100%;
  }
}